body
{
  margin: 0;
  font-family: Poppins, Arial;
  text-decoration: none;
}

.background
{
  display: flex;
  flex-direction: row;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(17, 139, 232) , rgba(254, 251, 251, 0.755));
  align-items: center;
  flex-direction: column;
}

.logo
{
  margin-top: 100px;
  margin-bottom: 80px;
  color: white;
  font-size: 60px;
  opacity: 0.65;
  font-weight: 500;
  font-style: italic;
}

.welcome-text
{
  padding-top: 50px;
  font-weight: 600;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}